In [1]:
import pandas as pd

In [2]:
raw_test = pd.read_csv('./output/raw_test_scale.csv')
raw_test = raw_test.iloc[:,1:]

### subset test based on category columns

In [3]:
test_cat_sub = raw_test
test_col_names = raw_test.columns.values

In [4]:
col_cat_filter = pd.read_csv('./output/raw_summary_cat_vs_gt80p.csv')

In [5]:
import numpy as np

In [6]:
#x = col_cat_filter[col_cat_filter['69']>5]['cat7']
x = col_cat_filter.iloc[:,0]
x = np.array(x)
x[:5]

array(['cat3', 'cat8', 'cat14', 'cat15', 'cat17'], dtype=object)

In [7]:
y = np.array(map(lambda i:i not in x, test_col_names))
test_col_names_sub = np.array(test_col_names)
test_col_names_sub = test_col_names_sub[y]
len(test_col_names_sub)

53

In [8]:
test_cat_sub = raw_test[test_col_names_sub]
test_cat_sub.to_csv('./output/test_cat_sub_gt80_scale.csv',encoding='utf-8')
test_cat_sub.head()

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
0,-0.919627,-1.004841,-1.245845,-0.424126,-0.987465,-0.124516,-0.941866,0.625858,-0.781654,-0.638611,...,L,K,BI,BC,A,J,AX,A,Q,HG
1,0.746364,0.550513,0.773525,2.154891,1.667974,-0.047492,-0.236131,1.132050,0.180553,0.565214,...,F,B,BI,CO,E,G,X,A,L,HK
2,-1.083390,1.112616,1.055311,-0.377322,1.104120,-1.361463,-0.896536,-0.951251,-0.781654,-1.041248,...,G,A,BI,CS,C,U,AE,A,K,CK
3,-1.201452,0.845220,0.468046,-0.651952,-0.433108,-0.594719,-0.803751,-0.436589,-0.843587,-0.990105,...,K,K,BI,CR,A,AY,AJ,A,P,DJ
4,0.316018,-1.004841,-1.163270,0.970233,-0.884485,-0.453981,-0.526796,-1.255437,-0.267415,0.035767,...,E,B,AB,EG,A,E,I,C,J,HA

In [9]:
col_cat_filter = pd.read_csv('./output/raw_summary_cat_vs_gt60p.csv')
col_cat_filter.head()

    cat3  81
0   cat7  77
1   cat8  76
2   cat1  74
3  cat14  70
4  cat11  70

In [10]:
#x = col_cat_filter[col_cat_filter['81']>5]['cat3']
x = col_cat_filter.iloc[:,0]
x = np.array(x)
x[:5]

array(['cat7', 'cat8', 'cat1', 'cat14', 'cat11'], dtype=object)

In [11]:
y = np.array(map(lambda i:i not in x, test_col_names))
test_col_names_sub = np.array(test_col_names)
test_col_names_sub = test_col_names_sub[y]
test_cat_sub = raw_test[test_col_names_sub]
len(test_col_names_sub)

43

In [12]:
test_cat_sub.to_csv('./output/test_cat_sub_gt60_scale.csv',encoding='utf-8')
test_cat_sub.head()

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
0,-0.919627,-1.004841,-1.245845,-0.424126,-0.987465,-0.124516,-0.941866,0.625858,-0.781654,-0.638611,...,L,K,BI,BC,A,J,AX,A,Q,HG
1,0.746364,0.550513,0.773525,2.154891,1.667974,-0.047492,-0.236131,1.132050,0.180553,0.565214,...,F,B,BI,CO,E,G,X,A,L,HK
2,-1.083390,1.112616,1.055311,-0.377322,1.104120,-1.361463,-0.896536,-0.951251,-0.781654,-1.041248,...,G,A,BI,CS,C,U,AE,A,K,CK
3,-1.201452,0.845220,0.468046,-0.651952,-0.433108,-0.594719,-0.803751,-0.436589,-0.843587,-0.990105,...,K,K,BI,CR,A,AY,AJ,A,P,DJ
4,0.316018,-1.004841,-1.163270,0.970233,-0.884485,-0.453981,-0.526796,-1.255437,-0.267415,0.035767,...,E,B,AB,EG,A,E,I,C,J,HA