In [17]:
import pandas as pd

In [18]:
raw_train = pd.read_csv('./data/train.csv')

### subset train based on numeric columns

In [ ]:
train_num_sub = raw_train

### subset train based on category columns

In [19]:
train_cat_sub = raw_train
train_col_names = raw_train.columns.values

In [20]:
col_cat_filter = pd.read_csv('./output/raw_summary_cat_vs_gt80p.csv')

In [21]:
import numpy as np

In [22]:
#x = col_cat_filter[col_cat_filter['69']>5]['cat7']
x = col_cat_filter.iloc[:,0]
x = np.array(x)
x[:5]

array(['cat3', 'cat8', 'cat14', 'cat15', 'cat17'], dtype=object)

In [23]:
y = np.array(map(lambda i:i not in x, train_col_names))
train_col_names_sub = np.array(train_col_names)
train_col_names_sub = train_col_names_sub[y]
len(train_col_names_sub)

54

In [24]:
train_cat_sub = raw_train[train_col_names_sub]
train_cat_sub.to_csv('./output/train_cat_sub_gt80.csv',encoding='utf-8')
train_cat_sub.head()

,id,cat1,cat7,cat9,cat50,cat72,cat80,cat81,cat82,cat83,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,A,B,A,A,D,D,B,D,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,A,B,A,A,D,D,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,A,B,A,A,B,D,B,D,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,A,B,A,A,D,D,D,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,A,B,A,B,B,D,B,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [25]:
col_cat_filter = pd.read_csv('./output/raw_summary_cat_vs_gt60p.csv')
col_cat_filter.head()

    cat3  81
0   cat7  77
1   cat8  76
2   cat1  74
3  cat14  70
4  cat11  70

In [26]:
#x = col_cat_filter[col_cat_filter['81']>5]['cat3']
x = col_cat_filter.iloc[:,0]
x = np.array(x)
x[:5]

array(['cat7', 'cat8', 'cat1', 'cat14', 'cat11'], dtype=object)

In [27]:
y = np.array(map(lambda i:i not in x, train_col_names))
train_col_names_sub = np.array(train_col_names)
train_col_names_sub = train_col_names_sub[y]
train_cat_sub = raw_train[train_col_names_sub]
len(train_col_names_sub)

44

In [28]:
train_cat_sub.to_csv('./output/train_cat_sub_gt60.csv',encoding='utf-8')
train_cat_sub.head()

,id,cat3,cat84,cat86,cat87,cat91,cat93,cat94,cat95,cat96,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,C,D,B,A,D,B,C,E,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,C,D,B,A,D,D,C,E,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,C,B,B,A,D,D,C,E,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,A,C,D,B,A,D,D,C,E,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,C,B,C,B,D,B,D,E,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85