In [1]:
import pandas as pd

In [14]:
raw_train = pd.read_csv('./output/raw_train_scale.csv')
raw_train = raw_train.iloc[:,1:]

### subset train based on category columns

In [15]:
train_cat_sub = raw_train
train_col_names = raw_train.columns.values

In [16]:
col_cat_filter = pd.read_csv('./output/raw_summary_cat_vs_gt80p.csv')

In [6]:
import numpy as np

In [17]:
#x = col_cat_filter[col_cat_filter['69']>5]['cat7']
x = col_cat_filter.iloc[:,0]
x = np.array(x)
x[:5]

array(['cat3', 'cat8', 'cat14', 'cat15', 'cat17'], dtype=object)

In [18]:
y = np.array(map(lambda i:i not in x, train_col_names))
train_col_names_sub = np.array(train_col_names)
train_col_names_sub = train_col_names_sub[y]
len(train_col_names_sub)

54

In [19]:
train_cat_sub = raw_train[train_col_names_sub]
train_cat_sub.to_csv('./output/train_cat_sub_gt80_scale.csv',encoding='utf-8')
train_cat_sub.head()

,loss,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
0,-0.283793,1.238750,-1.260936,-1.540471,1.409553,-0.848538,1.107908,-0.840070,-0.922092,1.023032,...,J,G,BU,BC,C,AS,S,A,O,LB
1,-0.603888,-0.870537,1.109451,0.463932,0.578923,1.906010,-0.253457,-0.271142,0.573972,-0.738944,...,K,K,BI,CQ,A,AV,BM,A,O,DP
2,-0.011104,-1.236521,-0.718477,-0.072846,-1.206334,-0.432284,-0.980633,-0.949428,-1.069556,-1.237183,...,F,A,AB,DK,A,C,AF,A,I,GK
3,-0.722256,-0.918075,0.234524,0.143849,-0.558452,-0.311730,-0.243577,-0.525875,-0.845049,-0.904033,...,K,K,BI,CS,C,N,AE,A,O,DJ
4,-0.094174,-1.175963,-1.675658,0.143849,-0.088079,1.037383,-1.523596,-1.331256,-1.207792,-1.456660,...,G,B,H,C,C,Y,BM,A,K,CK

In [21]:
col_cat_filter = pd.read_csv('./output/raw_summary_cat_vs_gt60p.csv')
col_cat_filter.head()

    cat3  81
0   cat7  77
1   cat8  76
2   cat1  74
3  cat14  70
4  cat11  70

In [22]:
#x = col_cat_filter[col_cat_filter['81']>5]['cat3']
x = col_cat_filter.iloc[:,0]
x = np.array(x)
x[:5]

array(['cat7', 'cat8', 'cat1', 'cat14', 'cat11'], dtype=object)

In [23]:
y = np.array(map(lambda i:i not in x, train_col_names))
train_col_names_sub = np.array(train_col_names)
train_col_names_sub = train_col_names_sub[y]
train_cat_sub = raw_train[train_col_names_sub]
len(train_col_names_sub)

44

In [24]:
train_cat_sub.to_csv('./output/train_cat_sub_gt60_scale.csv',encoding='utf-8')
train_cat_sub.head()

,loss,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
0,-0.283793,1.238750,-1.260936,-1.540471,1.409553,-0.848538,1.107908,-0.840070,-0.922092,1.023032,...,J,G,BU,BC,C,AS,S,A,O,LB
1,-0.603888,-0.870537,1.109451,0.463932,0.578923,1.906010,-0.253457,-0.271142,0.573972,-0.738944,...,K,K,BI,CQ,A,AV,BM,A,O,DP
2,-0.011104,-1.236521,-0.718477,-0.072846,-1.206334,-0.432284,-0.980633,-0.949428,-1.069556,-1.237183,...,F,A,AB,DK,A,C,AF,A,I,GK
3,-0.722256,-0.918075,0.234524,0.143849,-0.558452,-0.311730,-0.243577,-0.525875,-0.845049,-0.904033,...,K,K,BI,CS,C,N,AE,A,O,DJ
4,-0.094174,-1.175963,-1.675658,0.143849,-0.088079,1.037383,-1.523596,-1.331256,-1.207792,-1.456660,...,G,B,H,C,C,Y,BM,A,K,CK