In [1]:
import pandas as pd

In [2]:
raw_test = pd.read_csv('./data/test.csv')

### subset test based on category columns

In [3]:
test_cat_sub = raw_test
test_col_names = raw_test.columns.values

In [4]:
col_cat_filter = pd.read_csv('./output/raw_summary_cat_vs_gt80p.csv')

In [5]:
import numpy as np

In [6]:
#x = col_cat_filter[col_cat_filter['69']>5]['cat7']
x = col_cat_filter.iloc[:,0]
x = np.array(x)
x[:5]

array(['cat3', 'cat8', 'cat14', 'cat15', 'cat17'], dtype=object)

In [7]:
y = np.array(map(lambda i:i not in x, test_col_names))
test_col_names_sub = np.array(test_col_names)
test_col_names_sub = test_col_names_sub[y]
len(test_col_names_sub)

53

In [8]:
test_cat_sub = raw_test[test_col_names_sub]
test_cat_sub.to_csv('./output/test_cat_sub_gt80.csv',encoding='utf-8')
test_cat_sub.head()

,id,cat1,cat7,cat9,cat50,cat72,cat80,cat81,cat82,cat83,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,A,B,A,A,D,D,B,B,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,A,B,A,B,D,D,B,B,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,B,B,A,A,B,B,B,D,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,A,A,B,B,D,B,B,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,B,A,A,B,A,D,D,B,B,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

In [9]:
col_cat_filter = pd.read_csv('./output/raw_summary_cat_vs_gt60p.csv')
col_cat_filter.head()

    cat3  81
0   cat7  77
1   cat8  76
2   cat1  74
3  cat14  70
4  cat11  70

In [10]:
#x = col_cat_filter[col_cat_filter['81']>5]['cat3']
x = col_cat_filter.iloc[:,0]
x = np.array(x)
x[:5]

array(['cat7', 'cat8', 'cat1', 'cat14', 'cat11'], dtype=object)

In [11]:
y = np.array(map(lambda i:i not in x, test_col_names))
test_col_names_sub = np.array(test_col_names)
test_col_names_sub = test_col_names_sub[y]
test_cat_sub = raw_test[test_col_names_sub]
len(test_col_names_sub)

43

In [12]:
test_cat_sub.to_csv('./output/test_cat_sub_gt60.csv',encoding='utf-8')
test_cat_sub.head()

,id,cat3,cat84,cat86,cat87,cat91,cat93,cat94,cat95,cat96,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,C,D,B,A,D,C,C,E,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,C,B,B,A,D,D,D,E,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,C,B,B,A,D,D,C,E,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,D,D,G,D,D,C,E,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,A,C,B,B,A,D,B,D,E,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823